<div class="view-post">
    <div class="post-card-item" *ngIf="post">
        <div class="image-and-details-wrapper space">
            <div class="image-and-details" (click)="goToUserProfile(post.uid)">
                <div class="profile-img-wrapper">
                    <img class="profile-img" [src]="post.userImageURL" alt="Profile Image">
                </div>
                <div class="post-details">
                    <div class="post-author">{{post.userFirstName}} {{post.userLastName}}
                        <div class="teacher-badge" *ngIf="post.userIsTeacher">{{"teacher" | translate}}</div>
                    </div>
                    <div class="post-datetime">
                        {{post.created?.toDate() | date: 'dd MMM y, H:mm'}}
                    </div>
                </div>
            </div>
            <div class="post-menu">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onSavePost(post.id)">
                        <mat-icon class="save-icon">bookmark</mat-icon>
                        <span>{{"save" | translate}}</span>
                    </button>
                    <button *ngIf="post.uid === currentUid" mat-menu-item (click)="onDeletePost(post.id)">
                        <mat-icon class="delete-icon">delete</mat-icon>
                        <span>{{"delete" | translate}}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-text" *ngIf="post.content">
                {{post.content}}
            </div>
            <img class="post-image" *ngIf="post.imageURL" [src]="post.imageURL">
            <div class="reactions-comments-wrapper">
                <div class="reactions-wrapper">
                    <div class="likes-section">
                        <div class="number-of-likes" (click)="onOpenReactionsModal(post.id, 'likes')">
                            {{post.numberOfLikes === 0 ? '' : post.numberOfLikes}}
                        </div>
                        <mat-icon class="like-btn" (click)="onReactionClick(post.id, 'like')">thumb_up</mat-icon>
                    </div>
                    <div class="dislikes-section">
                        <div class="number-of-dislikes" (click)="onOpenReactionsModal(post.id, 'dislikes')">
                            {{post.numberOfDislikes === 0 ? '' : post.numberOfDislikes}}
                        </div>
                        <mat-icon class="dislike-btn" (click)="onReactionClick(post.id, 'dislike')">thumb_down
                        </mat-icon>
                    </div>
                </div>
                <button mat-raised-button class="comments-btn" (click)="showHideComments(post)">
                    <mat-icon>comment</mat-icon>
                    {{"comments" | translate}}
                </button>
            </div>
        </div>
        <div *ngIf="areCommentsVisible" class="post-comments">
            <div class="new-comment-container">
                <div class="image-and-details-wrapper">
                    <div class="profile-img-wrapper">
                        <img class="profile-img" [src]="userImageURL" alt="Profile Image">
                    </div>
                </div>
                <form [formGroup]="newCommentForm" class="new-post-form full-width"
                      (keyup.enter)="onSubmitComment(post.id)">
                    <mat-form-field class="new-comment-field" appearance="fill">
                        <mat-label>{{"saySomething" | translate}}</mat-label>
                        <textarea cdkTextareaAutosize
                                  cdkAutosizeMinRows="1"
                                  cdkAutosizeMaxRows="30"
                                  [maxLength]="3000"
                                  matInput
                                  rows="3"
                                  formControlName="newComment">
                            </textarea>
                        <button mat-raised-button
                                [ngClass]="{'disabled-btn' : !newCommentForm.get('newComment')?.value?.trim().length}"
                                class="btn-primary new-comment-btn" (click)="onSubmitComment(post.id)">{{"reply" | translate}}
                        </button>
                    </mat-form-field>
                </form>
            </div>
            <div class="comment-container" *ngFor="let comment of post?.comments">
                <div class="image-and-details-wrapper">
                    <div class="image-and-details" (click)="goToUserProfile(comment.uid)">
                        <div class="profile-img-wrapper">
                            <img class="profile-img" [src]="comment.userImageURL" alt="Profile Image">
                        </div>
                        <div class="post-details">
                            <div class="post-author">{{comment.userFirstName}} {{comment.userLastName}}
                                <div class="teacher-badge" *ngIf="comment.userIsTeacher">{{"teacher" | translate}}</div>
                            </div>
                            <div class="post-datetime">
                                {{comment.created?.toDate() | date: 'dd MMM y, H:mm'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-text">
                    {{comment.content}}
                </div>
            </div>
        </div>
    </div>
</div>
