<div class="new-post">
    <div class="new-post-container">
        <div class="profile-img-wrapper">
            <img class="profile-img" [src]="userImageURL" alt="Profile image">
        </div>
        <div class="new-post-form-wrapper">
            <form [formGroup]="newPostForm" class="new-post-form">
                <mat-form-field class="new-post-field" appearance="fill" floatLabel="auto">
                    <mat-label>Share something interesting...</mat-label>
                    <textarea cdkTextareaAutosize
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              (ngModelChange)="checkTextLength()"
                              [maxLength]="charactersLimit"
                              matInput
                              rows="3"
                              formControlName="newPostText">
                    </textarea>
                </mat-form-field>
            </form>
            <div class="characters-left" [ngClass]="{'no-characters-left': charactersLeft === 0}">
                {{charactersLeft}} {{charactersLeft === 1 ? 'character remaining' : 'characters remaining'}}
            </div>
        </div>
    </div>
    <div class="new-post-submit-wrapper">
        <button class="new-post-submit-btn btn-primary" (click)="onNewPost()">Post</button>
    </div>
</div>
