<div class="new-post">
    <div class="new-post-container">
        <div class="profile-img-wrapper">
            <img class="profile-img" [src]="userImageURL" alt="Profile image">
        </div>
        <div class="new-post-form-wrapper">
            <form [formGroup]="newPostForm" class="new-post-form" (keyup.enter)="onNewPost()">
                <mat-form-field class="new-post-field" appearance="fill" floatLabel="auto">
                    <mat-label>{{"share" | translate}}...</mat-label>
                    <textarea cdkTextareaAutosize
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              (ngModelChange)="checkTextLength()"
                              [maxLength]="charactersLimit"
                              matInput
                              rows="5"
                              formControlName="newPostText">
                    </textarea>
                    <div class="image-upload-container" [ngClass]="{'no-events' : uploadedFile}">
                        <label for="img-upload">
                            <mat-icon class="new-post-img-icon">add_photo_alternate</mat-icon>
                        </label>
                        <input id="img-upload" type="file" (change)="previewImage($event)"
                               formControlName="newPostImage"
                               accept="image/*">
                    </div>
                    <div class="file-upload-container" [ngClass]="{'no-events' : uploadedImage}">
                        <label for="file-upload">
                            <mat-icon class="new-post-img-icon">attach_file</mat-icon>
                        </label>
                        <input id="file-upload" type="file" (change)="onFileUpload($event)"
                               formControlName="newPostFile"
                               accept=".doc,.docx,.pdf,.txt,.zip,.rar">
                    </div>
                </mat-form-field>
                <div class="new-post-img-preview-container" *ngIf="postImageURL">
                    <img class="new-post-img-preview" [src]="postImageURL" alt="Post image">
                    <mat-icon class="reset-img-icon" (click)="onResetImgPreview()">close</mat-icon>
                </div>
            </form>
            <div class="characters-left" [ngClass]="{'no-characters-left': charactersLeft === 0}">
                {{charactersLeft}} {{charactersLeft === 1 ? oneCharacterRem : charactersRem}}
            </div>
        </div>
    </div>
    <div class="new-post-submit-wrapper">
        <button mat-raised-button [ngClass]="{'disabled-btn' : !isFormValid()}"
                class="new-post-submit-btn btn-primary" (click)="onNewPost()">{{"post" | translate}}
        </button>
    </div>
</div>
