@use "src/assets/styles/globalVars";

.new-post {
    width: 650px;
    background: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 20px 25px;
    border-radius: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

    &-container {
        display: flex;
        height: 100%;
    }

    &-form-wrapper {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }

    &-form {
        width: 83%;
    }

    &-field {
        border-radius: 20px;
        width: 100%;
    }

    &-img-icon {
        margin-top: 12px;
        cursor: pointer;
    }

    #img-upload {
        display: none;
    }

    &-img-preview {
        width: 410px;

        &-container {
            position: relative;
        }
    }

    .reset-img-icon {
        cursor: pointer;
        position: absolute;
        right: 3px;
        top: 0;
        color: globalVars.$color-invalid;
    }

    &-submit {
        &-wrapper {
            align-self: flex-end;
        }

        &-btn {
            height: 40px;
            width: 85px;
        }
    }
}
