@use "src/assets/styles/globalVars";



.mat-dialog-title {
    text-align: center;
    font-size: 34px;
}

.signup-form {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-direction: column;

    mat-form-field {
        width: 80% !important;
        margin-right: 1em;
    }

    .checkboxes-container {
        display: flex;
        justify-content: space-around;
    }

    .policy {
        color: globalVars.$primary-color;
        font-weight: bold;
    }

    .row {
        display: flex;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    //margin-bottom: 50px;

    mat-form-field {
        width: 80%;
    }
}

.mat-dialog-actions {
    .login-btn, .signup-btn {
        width: 70%;
        background: globalVars.$secondary-color;
        border-radius: 35px;
        color: globalVars.$white;
        font-weight: bold;
        min-height: 48px;
        font-size: 15px;
        max-width: 300px;
    }

    .signup-btn {
        background: globalVars.$primary-color;
    }
}

