<div class="notifications">
    <h2 *ngIf="!notifications">
        You have no notifications!
    </h2>
    <div class="user-item" *ngFor="let notification of notifications" (click)="goToPost(notification.postId)">
        <div class="image-and-details">
            <div class="profile-img-wrapper">
                <img class="profile-img" [src]="notification.userImageURL" alt="Profile Image">
            </div>
            <div class="post-details">
                <div class="author-and-comment">
                    <div class="post-author"
                         (click)="goToUserProfile(notification.uid)">{{notification.userFirstName}} {{notification.userLastName}}
                        <div class="teacher-badge" *ngIf="notification.userIsTeacher">Teacher</div>
                    </div>
                    <div class="added-comment">added a comment to your post</div>
                </div>
                <div class="post-datetime">
                    {{notification.created?.toDate() | date: 'dd MMM y, H:mm'}}
                </div>
            </div>
        </div>
    </div>
</div>
