.notifications {
    max-width: 770px;
    padding: 60px;

    .user-item {
        width: 580px;
        cursor: pointer;
        margin-bottom: 0.5rem;
    }

    .author-and-comment {
        display: flex;
    }

    .post-author {
        margin-right: 0.3rem;
    }

    .image-and-details {
        align-items: center;
    }
}
