<img src="assets/images/SocialUni.png" alt="logo" class="logo">
<div class="landing-wrapper">
    <div class="landing-content">
        <div class="welcome-messages-wrapper">
            <div class="welcome-message">
                {{"welcomeMessage" | translate}} <span class="app-name">SocialUni</span>
            </div>
            <div class="translate-icons">
                <img src="assets/images/en-flag.svg" alt="English" (click)="langEn()">
                <img src="assets/images/ro-flag.svg" alt="Romanian" (click)="langRo()">
            </div>
            <div class="buttons-message">
                <button class="landing-btn" type="button" mat-raised-button color="accent"
                        (click)="openDialog('login')">{{"logIn" | translate}}
                </button>
                {{"toSee" | translate}}
                <button class="landing-btn" type="button" mat-raised-button color="accent"
                        (click)="openDialog('signup')">{{"signUp" | translate}}
                </button>
                {{"talkingAbout" | translate}}
            </div>
        </div>
    </div>
</div>
