<img src="assets/images/SocialUni.png" alt="logo" class="logo">
<div class="landing-wrapper">
    <div class="landing-content">
        <div class="welcome-messages-wrapper">
            <div class="welcome-message">
                Welcome to <span class="bold">SocialUni</span>
            </div>
            <div class="buttons-message">
                <button class="landing-btn" type="button" mat-raised-button color="accent"
                        (click)="openDialog('login')">Log in
                </button>
                to see what's new or
                <button class="landing-btn" type="button" mat-raised-button color="accent"
                        (click)="openDialog('signup')">Sign up
                </button>
                to find out what your friends are talking about
            </div>
        </div>
        <div class="landing-btn-wrapper">
        </div>
    </div>
</div>
