<div class="landing-wrapper">
    <!--    <div class="landing-left">-->
    <img src="assets/images/landing2.jpg" alt="Landing page photo" class="landing-left">

    <!--    </div>-->
    <div class="landing-right-absolute">
        <div class="landing-right">
            <img src="https://via.placeholder.com/50" alt="logo">
            <div class="welcome-messages-wrapper">
                <div class="welcome-message">
                    Welcome to *insert name here*
                </div>
                <div class="log-in-message">
                    Log in to your account or sign up to be a part of this community
                </div>
            </div>
            <div class="landing-btn-wrapper">
                <button type="button" mat-raised-button color="accent" (click)="openDialog('login')">Log in</button>
                <button type="button" mat-raised-button color="accent" (click)="openDialog('signup')">Sign up</button>
            </div>
        </div>
    </div>
</div>
