.sidenav-container {
    height: 100%;

    .sidenav {
        width: 230px;
    }

    .sidenav .mat-toolbar {
        //background: #673ab7;
    }

    .mat-toolbar.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        height: calc(100% - 80px);
    }

    mat-toolbar {
        justify-content: space-evenly;
    }

    .mat-list-item:last-child {
        //align-self: end;
        margin-top: auto;
    }

    .mat-list-item-content {
        justify-content: space-between;
    }

    .app-name {
        cursor: pointer;
    }

    .logo {
        text-decoration: none;
        cursor: pointer;
        width: 50px;
        position: initial;
    }

    .mat-list-item .mat-icon {
        margin-right: 40px;
    }


}
