<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" mode="side" [opened]="!(isHandset$ | async)" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    >
        <mat-toolbar>
            <a (click)="goTo(navigationPathEnum.Home);closeDrawer ? drawer.close() : drawer.open()" class="app-name">SocialUni
            </a>
            <img class="logo" src="assets/images/SocialUni.png" alt="Logo">
        </mat-toolbar>
        <mat-nav-list class="nav-list">
            <a mat-list-item
               (click)="goTo(navigationPathEnum.Notifications); closeDrawer ? drawer.close() : drawer.open()">Notifications
                <mat-icon>notifications</mat-icon>
            </a>
            <a mat-list-item (click)="goTo(navigationPathEnum.Saved); closeDrawer ? drawer.close() : drawer.open()">Saved
                <mat-icon>bookmark</mat-icon>
            </a>
            <a mat-list-item (click)="goTo(navigationPathEnum.Profile); closeDrawer ? drawer.close() : drawer.open()">Profile
                <mat-icon>account_circle</mat-icon>
            </a>
            <a mat-list-item (click)="onLogout()">Log out
                <mat-icon>exit_to_app</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary" *ngIf="isHandset$ | async">
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
        >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="app-name">SocialUni</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-search *ngIf="authService.currentUid != undefined"></app-search>
    <div class="toast-custom-container" toastContainer></div>
</mat-sidenav-container>
