<div class="profile">
    <div class="profile-left">
        <button *ngIf="!isEditingMode" mat-raised-button class="profile-btn btn-primary" (click)="toggleProfileEditing()">
            {{"editProfile" | translate}}
        </button>
        <button *ngIf="isEditingMode" mat-raised-button class="profile-btn btn-primary green-btn" (click)="savePersonalDetails()">
            {{"saveProfile" | translate}}
        </button>
        <form class="profile-form" [formGroup]="profileForm" [ngClass]="{'no-events' : !isEditingMode}">
            <mat-form-field appearance="outline">
                <mat-label>{{"firstName" | translate}}</mat-label>
                <input matInput placeholder="First name" formControlName="firstName" autocomplete="given-name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{"lastName" | translate}}</mat-label>
                <input matInput placeholder="Last name" formControlName="lastName" autocomplete="family-name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{"email" | translate}}</mat-label>
                <input matInput placeholder="Email" formControlName="email" type="email" email autocomplete="email">
            </mat-form-field>
        </form>
        <div class="lang-message">{{"langMessage" | translate}}</div>
        <div class="translate-icons">
            <img src="assets/images/en-flag.svg" alt="English" (click)="langEn()">
            <img src="assets/images/ro-flag.svg" alt="Romanian" (click)="langRo()">
        </div>
    </div>
    <div class="profile-right">
        <div class="profile-big-img-wrapper">
            <div class="img-with-reset">
                <img class="profile-big-img" [src]=userImageURL alt="Profile Image">
                <mat-icon *ngIf="!isDefaultImage" class="reset-img-icon" (click)="onResetImgPreview()">close</mat-icon>
            </div>
            <input type="file" class="image-upload" (change)="previewImage($event)" accept="image/*">
            <button mat-raised-button [ngClass]="{'hidden': !showSaveBtn}" class="profile-btn btn-primary green-btn"
                    (click)="uploadImage()">
                {{"savePhoto" | translate}}
            </button>
        </div>
    </div>
</div>
