@use "src/assets/styles/globalVars";

.profile {
    height: 100vh;
    max-width: 770px;
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 0.8fr;

    .profile-btn {
        width: fit-content;
        height: 40px;
        display: flex;
        padding: 0 12px;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        margin-bottom: 2rem;
    }

    &-left {
    }

    &-right {
        .profile {
            &-btn {
                background-color: globalVars.$secondary-color;
            }

            &-big-img-wrapper {
                display: flex;
                flex-direction: column;
                width: fit-content;
                align-items: center;
                margin-top: 72px;

                .img-with-reset {
                    position: relative;

                    .reset-img-icon {
                        right: 10%;
                    }
                }
            }

            &-big-img {
                border-radius: 6px;
                display: block;
                max-width: 90%;
                max-height: 500px;
                width: auto;
                height: auto;
            }
        }
    }


    &-form {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .image-upload {
        color: white;
        font-weight: bold;
        width: fit-content;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        margin-bottom: 1rem;
        background-color: globalVars.$secondary-color;
        padding: 9px 12px 0;
        margin-top: 2rem;
        max-width: 300px;
    }

    .green-btn {
        background-color: #46a35e;
    }

}
