$font-family: 'Montserrat', sans-serif;
$password-font-family: 'password', serif;

// Colors
$primary-color: #1A91DA;
$secondary-color: #232323;

$gray-1: #ececec;
$gray-2: #F5F5F5;

$color-invalid: #f44336;
