@use "src/assets/styles/globalVars";

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

// [Start] Fonts
* {
    font-family: globalVars.$font-family !important;
    box-sizing: border-box;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.access-code {
    font-family: globalVars.$password-font-family !important;
}

// [End] Fonts

// [Start] Navbar
.mat-list-item-content {
    justify-content: flex-end;
    flex-direction: row-reverse !important;
}

.mat-dialog-container {
    border-radius: 30px !important;
}

.reactions-list {
    .mat-dialog-container {
        height: 90vh;
    }
}

// [End] Navbar

// [Start] Material components
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: red;
}

.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: red;
}

.mat-form-field-appearance-fill {
    .mat-form-field-underline {
        display: none;
    }
}

.new-post-form .mat-form-field-flex {
    border-radius: 20px !important;
}


.mat-form-field .mat-form-field-label-wrapper label {
    line-height: 1rem;
}

.new-comment-field {
    .mat-form-field-infix {
        display: flex;
        flex-direction: column;
    }
}

.mat-form-field.mat-focused {
    .mat-form-field-label {
        color: globalVars.$primary-color;
    }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: globalVars.$primary-color;
}

.delete-icon {
    color: globalVars.$color-invalid !important;
}

.mat-progress-spinner {
    margin-left: 50%;
    top: 50%;
    position: absolute !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: globalVars.$primary-color;
}

.mat-menu-item .mat-icon-no-color, .mat-menu-item-submenu-trigger::after {
    color: rgba(0, 0, 0, .87);
}

.mat-drawer-content {
    display: flex !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: globalVars.$primary-color;
}

.mat-checkbox-label {
    font-size: 15px;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active
> .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .mat-calendar-body-selected {
    background-color: globalVars.$primary-color;
    color: globalVars.$white;
}

.mat-dialog-container {
    padding: 34px 24px !important;
    padding-bottom: 42px !important;
}

.login-dialog {
    height: 200px;
}

.signup-dialog {
    height: 310px;
    width: 70vw;
}

.mat-dialog-actions {
    margin-bottom: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 70px;
}

// [End] Material components

// [Start] Profile image in cards

.post-card-item, .user-item {
    width: 650px;
    background: globalVars.$white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 20px 25px;
    border-radius: 30px;
    margin-bottom: 2rem;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    .image-and-details {
        &-wrapper {
            display: flex;
            margin-bottom: 1rem;
        }
        &-wrapper.space {
            justify-content: space-between;
        }
    }
    .post {
        &-details {
            display: flex;
            flex-direction: column;
        }
        &-author {
            font-size: 15px;
            font-weight: bold;
            display: flex;
            text-transform: capitalize;
            cursor: pointer;
        }
        &-datetime {
            font-size: 11px;
        }
        &-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            &-text {
                margin-bottom: 1rem;
            }
            .reactions-comments-wrapper {
                display: flex;
                justify-content: space-between;
                justify-self: flex-end;
                .reactions-wrapper {
                    display: flex;
                    justify-content: space-between;
                    width: 110px;
                    .likes-section, .dislikes-section, .number-of-likes, .number-of-dislikes {
                        display: flex;
                    }

                    .likes-section {
                        margin-right: 1rem;
                    }

                    .likes-section, .dislikes-section {
                        align-items: center;
                        width: 40px;
                        justify-content: space-between;
                    }

                    .number-of-likes, .number-of-dislikes {
                        margin-right: 0.5rem;
                        font-size: 15px;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    .number-of-likes:hover, .number-of-dislikes:hover {
                        text-decoration: underline;
                    }

                    .like-btn, .dislike-btn {
                        cursor: pointer;
                    }
                }

                .comments-btn {
                    display: inline-flex;
                    cursor: pointer;
                    padding: 10px 12px;
                    background-color: globalVars.$gray-1;
                    border-radius: 4px;
                    border: none;
                    align-items: center;
                    height: 45px;

                    .mat-icon {
                        margin-right: 0.5rem;
                    }
                }
            }
        }

        &-image {
            margin-bottom: 2em;
            max-width: 100%;
            width: auto;
            height: auto;
            border-radius: 6px;
        }

        &-comments {
            border-top: 1px solid globalVars.$gray-3;
            margin-top: 2rem;
            padding-top: 1.5rem;

            .comment-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: globalVars.$gray-2;
                border-radius: 20px;
                padding: 12px;
                word-break: break-word;
                margin-bottom: 1rem;
            }

            .new-comment {
                &-container {
                    display: flex;

                    .profile-img-wrapper {
                        margin-left: 12px;
                    }
                }

                &-field {
                    width: 100%;
                    line-height: normal;

                    .characters-left {
                        align-self: flex-end;
                        margin-left: 10px;
                    }
                }

                &-btn {
                    height: 37px;
                    width: fit-content;
                    margin: 1em 0.2em 0.1em auto;
                }

            }
        }
    }

}

.profile-img-wrapper {
    margin-right: 20px;
    display: inline-flex;
}

.profile-img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
}

.image-and-details {
    display: flex;
    cursor: pointer;
}

.teacher-badge {
    margin-left: 0.5rem;
    background: #fff700;
    border-radius: 11px;
    padding: 0 7px;
    font-weight: 500;
}

.post-author:hover {
    text-decoration: underline;
}

// [End] Profile image in cards

//[Start] Buttons
.btn-primary {
    background-color: globalVars.$primary-color;
    color: rgb(255, 255, 255);
    outline-style: none;
    font-weight: 700;
    line-height: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.disabled-btn {
    pointer-events: none;
    opacity: 0.5;
}

//[End] Buttons

//[Start] Others
.full-width {
    width: 100%;
}

.characters-left {
    display: inline-flex;
    font-size: 9px;
}

.no-characters-left {
    color: globalVars.$color-invalid;
}

.no-events {
    pointer-events: none;
}

.hidden {
    display: none !important;
}

.reset-img-icon {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 0;
    color: globalVars.$color-invalid;
}

.app-name {
    color: globalVars.$primary-color;
    font-weight: bold;
}

.logo {
    width: 120px;
    z-index: 10;
    position: absolute;
    left: 50px;
    top: 30px;
    border-radius: 50%;
}

//[End] Others

// [Start] Pagination
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    *:focus {
        outline: none !important;
    }

    .ngx-pagination {
        display: flex;
        align-items: center;

        & .current {
            background-color: globalVars.$primary-color;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 21px;
            margin-right: 10px;
        }

        & .pagination-next a::after,
        & .pagination-next.disabled::after,
        & .pagination-previous a::before,
        & .pagination-previous.disabled::before {
            height: 40px;
            width: 40px;
            border-radius: 4px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            outline: none;
            font-size: 28px;
            font-weight: 400;
        }

        & .pagination-next a::after,
        & .pagination-next.disabled::after {
            content: ">" !important;
            margin: 0;
        }

        & .pagination-previous {
            a {
                padding: 0;
            }
        }

        & .pagination-next {
            a {
                padding: 0;
            }
        }

        & .disabled {
            padding: 0;
        }

        & .pagination-previous a::before,
        & .pagination-previous.disabled::before {
            content: "<" !important;
        }

        & a:hover,
        & button:hover {
            background-color: globalVars.$white;
        }

        & a:hover:not(.pagination-previous a):not(.pagination-next a) {
            background-color: globalVars.$white;
        }
    }

    ul li:not(.pagination-previous):not(.pagination-next):not(.current):not(.small-screen) {
        height: 40px;
        width: 40px;
        border: 1px solid globalVars.$secondary-color;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;

        a {
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 21px;
            color: globalVars.$secondary-color;
        }
    }
}

.toast-container {
    .ngx-toastr {
        border-radius: 8px;
        width: 290px;
        height: 100px;
        position: relative;
        background: #3cefc4;
        padding: 8px 16px;
        cursor: pointer;
        margin-bottom: 0.5rem;

        &:hover {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }

        .image-and-details {
            align-items: center;
        }

        .profile-img-wrapper {
            margin-right: 12px;
        }

        .post-details {
            display: flex;
            flex-direction: column;
        }

        .post-author {
            display: flex;
            text-decoration: none;
        }

        .notification-title {
            margin-bottom: 9px;
            font-size: 15px;
            font-weight: 500;
        }
    }
}
